ServiceCoursework.Site/Service References/GuestServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GuestService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServiceCoursework.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGuestService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IGuestService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IGuestService_Echo_InputMessage">
    <wsdl:part name="parameters" element="tns:Echo" />
  </wsdl:message>
  <wsdl:message name="IGuestService_Echo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EchoResponse" />
  </wsdl:message>
  <wsdl:message name="IGuestService_CreateGuest_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGuest" />
  </wsdl:message>
  <wsdl:message name="IGuestService_CreateGuest_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGuestResponse" />
  </wsdl:message>
  <wsdl:message name="IGuestService_AddGuestByJson_InputMessage">
    <wsdl:part name="parameters" element="tns:AddGuestByJson" />
  </wsdl:message>
  <wsdl:message name="IGuestService_AddGuestByJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddGuestByJsonResponse" />
  </wsdl:message>
  <wsdl:message name="IGuestService_AddGuest_InputMessage">
    <wsdl:part name="parameters" element="tns:AddGuest" />
  </wsdl:message>
  <wsdl:message name="IGuestService_AddGuest_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddGuestResponse" />
  </wsdl:message>
  <wsdl:message name="IGuestService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IGuestService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IGuestService_GetAllInJson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllInJson" />
  </wsdl:message>
  <wsdl:message name="IGuestService_GetAllInJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllInJsonResponse" />
  </wsdl:message>
  <wsdl:portType name="IGuestService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IGuestService/GetData" message="tns:IGuestService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGuestService/GetDataResponse" message="tns:IGuestService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Echo">
      <wsdl:input wsaw:Action="http://tempuri.org/IGuestService/Echo" message="tns:IGuestService_Echo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGuestService/EchoResponse" message="tns:IGuestService_Echo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateGuest">
      <wsdl:input wsaw:Action="http://tempuri.org/IGuestService/CreateGuest" message="tns:IGuestService_CreateGuest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGuestService/CreateGuestResponse" message="tns:IGuestService_CreateGuest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddGuestByJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IGuestService/AddGuestByJson" message="tns:IGuestService_AddGuestByJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGuestService/AddGuestByJsonResponse" message="tns:IGuestService_AddGuestByJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddGuest">
      <wsdl:input wsaw:Action="http://tempuri.org/IGuestService/AddGuest" message="tns:IGuestService_AddGuest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGuestService/AddGuestResponse" message="tns:IGuestService_AddGuest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IGuestService/GetAll" message="tns:IGuestService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGuestService/GetAllResponse" message="tns:IGuestService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllInJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IGuestService/GetAllInJson" message="tns:IGuestService_GetAllInJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGuestService/GetAllInJsonResponse" message="tns:IGuestService_GetAllInJson_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGuestService" type="tns:IGuestService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IGuestService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Echo">
      <soap:operation soapAction="http://tempuri.org/IGuestService/Echo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGuest">
      <soap:operation soapAction="http://tempuri.org/IGuestService/CreateGuest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGuestByJson">
      <soap:operation soapAction="http://tempuri.org/IGuestService/AddGuestByJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGuest">
      <soap:operation soapAction="http://tempuri.org/IGuestService/AddGuest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IGuestService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllInJson">
      <soap:operation soapAction="http://tempuri.org/IGuestService/GetAllInJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GuestService">
    <wsdl:port name="BasicHttpBinding_IGuestService" binding="tns:BasicHttpBinding_IGuestService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServiceCoursework.Services/GuestService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>