ServiceCoursework.Site/Service References/GuestServiceReference/ServiceCoursework.Services.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceCoursework.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceCoursework.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Guests">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WillAttend" type="xs:boolean" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Guests" nillable="true" type="tns:Guests" />
</xs:schema>